<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
         <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
      <!--     <property name="hibernate.connection.password">QazWsxEdc123</property>--> 
      <property name="hibernate.connection.password">1234</property> 
       
      <!--  <property name="hibernate.connection.url">jdbc:mysql://localhost:80/4fimi</property>-->
      <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/4fimi</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
  		 <mapping class="RyC.dbHIB.palabras_fimi"></mapping>
  		 <mapping class="RyC.dbHIB.admin_user"></mapping>
        <mapping class="RyC.dbHIB.usuario"></mapping>
        <mapping class="RyC.dbHIB.rs_usuario"></mapping>
        <mapping class="RyC.dbHIB.historial_usuario"></mapping>
        <mapping class="RyC.dbHIB.palabras_usuario"></mapping>
         <mapping class="RyC.dbHIB.noticias"></mapping>
        
    </session-factory>
</hibernate-configuration>